simpleplayer==0.0.2 # pip install simpleplayer

# Pastikan telah menginstal simpleplayer dengan benar, module ini digunakan untuk memutar musik
# -> pip show simpleplayer, setelah di install untuk melihat informasi

# Library berikut merupakan library bawaan Python dan tidak perlu diinstal terpisah:
# - os
# - time
# - threading

# Untuk menjalankan program dengan baik, pastikan semua library telah terinstal dengan benar
# dengan cara menjalankan perintah berikut di terminal/command prompt:
# -> pip install -r requirements.txt